<% include partials/header %>
<h1>SOP to create this Demo</h1>

<ol>
        
    <li>Create Top Level Directory</li>
    <li>Create subdirecotoes public and views + views/partials</li>
    <li>npm init</li>
    <li>npm install express --save</li>
    <li>npm install body-parser --save (allows to work on request's body for POST routes)</li>
    <li>create in 'partials' header.ejs and footer.ejs</li>
    <li>create basic app.js and the first landing page</li>
    <li>add &lt;name&gt;.css file</name></li>
    <li>define more routes and corresponding (ejs) or res.sends - app.[get|post]("/&lt;something or :something&gt;, function (req, res){});</li>
    
</ol>

<% include partials/footer %>